@import './fonts';
@import './variables';

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
