.container {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 100px 16px 32px;
  max-width: 1680px;
  padding: clamp(10px, 5%, 85px);
  padding-top: clamp(10px, 5%, 50px);
  position: relative;
  transition: all 0.5s ease-in-out;
}

.grid {
  display: grid;
  gap: clamp(10px, 1vw, 18px);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: clamp(331px, 40vw, 662px);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.title {
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-size: clamp(20px, 4vw, 60px);
  font-weight: 400;
  line-height: 66px;
  margin: 0;
  margin-bottom: clamp(25px, 3vw, 50px);
  padding-bottom: clamp(10px, 2vw, 22px);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.close-container {
  margin-bottom: clamp(10px, 2vw, 33px);
  text-align: right;
  width: 100%;
}

.close {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in-out;

  svg {
    height: clamp(22px, 3vw, 44px);
    width: clamp(22px, 3vw, 44px);
  }
}